@charset "UTF-8";
@import "../../assets/sass/function";

.Confirm {
  position: fixed;
  top: 30%;
  left: 50%;
  z-index: 11101;
  width: 400px;
  height: 150px;
  margin-left: -200px;
  border: 1px solid $blue;
  border-radius: 5px;
  background-color: $white;
  .confirm-content {
    @include props-dpr(margin-top, $baseMargin);
    font-size: 16px;
  }
  .confirm-text {
    position: absolute;
    bottom: 2em;
    width: 100%;
  }
  .confirm-yes {
    margin-right: 1em;
  }
  .confirm-no {
    margin-left: 1em;
  }

}