@charset "UTF-8";
@import "../../assets/sass/function";

.ImageUpload {
  display: inline-block;
  border: 1px solid $grayD;
  .img-box {
    position: relative;
    width: 280px;
    height: 200px;
    padding: 5px;
    border-bottom: 1px solid $grayD;
    .file-img {
      display: block;
      width: 100%;
      height: 100%;
    }
    .img-tip {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 30px;
      line-height: 30px;
      margin: auto;
      text-align: center;
    }
  }
  .delete-btn {
    display: block;
    height: 25px;
    line-height: 25px;
    border-bottom: 1px solid $grayD;
    text-align: center;
    cursor: pointer;
  }
  .input-file {
    display: none;
  }
  .wrapper-label {
    display: block;
    margin: 0;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    .upload-tip {
      display: block;
      overflow: hidden;
      text-align: center;
    }
    .upload-btn {
      padding: 0 10px;
      color: $white;
      background-color: $blueLight;
    }
  }
}