@charset "utf-8";
@import "../../../../../../../assets/sass/function";

.WebList {
	font-size: 13px;
	.website-box {
		padding: 20px;
		border-bottom: 1px solid $grayD;
		.info-group {
			.table-name {
				display: inline-block;
				padding: 5px;
				width: 120px;
				text-align: right;
			}
			.table-info {
				display: inline-block;
				padding: 5px;
				text-align: left;
			}
		}
	}
	
}