@charset "UTF-8";
@import "../../../../../../../../../assets/sass/_function";

.ChattingRecords {
  .form {
    padding: 20px;
    border-bottom: 1px solid $grayD;
  }
  .chatting-table {
    padding: 20px;
    .Table {
      th {
        text-align: left;
        padding-left: 5px;
        font-weight: normal;
      }
    }
  }
}