@charset "UTF-8";
@import "../../../../../../../assets/sass/function";

$blueColor: #1c6fa8;
$pinkColor: #da0351;

.block {
  display: block;
}

.w130 {
  width: 130px;
}

.search-area {
  padding: 15px;
  border-bottom: 1px solid $grayD;
  .FormItem {
    .subtitle {
      display: inline-block;
      width: 100px;
    }
  }
}

.FundingItem {
  padding: 20px 20px 10px 20px;
  margin: 20px;
  border: 1px solid $grayD;
  .result-tips {
    margin: 50px;
    text-align: center;
  }
  .left-area {
    width: 300px;
    .item-img {
      width: 100%;
    }
    .item-info {
      padding: 5px 0;
      font-size: 13px;
    }
    .item-progress {
      padding-bottom: 10px;
      .bar-wrapper {
        border: 1px solid $grayD;
        background-color: $white;
        .left-bar {
          max-width: 100%;
          min-width: 80px;
          line-height: 12px;
          font-size: 12px;
          padding: 2px 0;
          background-color: $grayE;
          text-align: center;
          white-space: nowrap;
        }
      }
    }
  }
  .right-area {
    width: 500px;
    padding: 0 20px;
    .item-title {
      font-size: 16px;
      padding-bottom: 10px;
    }
    .item-content {
      height: 120px;
      overflow: hidden;
    }
    .user-count {
      height: 50px;
      border-left: 1px solid $grayD;
      .count-num {
        display: inline-block;
        width: 150px;
        border: 1px solid $grayD;
        border-left: 0;
        padding: 5px 0;
        line-height: 20px;
        text-align: center;
        cursor: pointer;
        span {
          display: inline-block;
          width: 148px;
        }
      }
    }
  }
  .bottom {
    padding: 10px 0 5px 0;
    margin-top: 10px;
    border-top: 1px solid $grayD;
    width: 100%;
    .button-wrap {
      width: 235px;
      margin: auto;
      .button {
        display: inline-block;
        width: 100px;
        padding: 8px 0;
        margin: 5px;
        border: 1px solid $grayD;
        background-color: $colorBgLight;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}

.FundingDetail {
  width: 100%;
  height: 100%;
  padding: 20px 50px;
  .ml45 {
    margin-left: 45px;
  }
  .ml60 {
    margin-left: 60px;
  }
  .FormItem {
    .subtitle {
      display: block;
      margin-bottom: 5px;
    }
  }
  .group-title {
    font-size: 16px;
    padding: 5px 0;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $grayD;
    color: $pinkColor;
  }
  .DatePicker .date-input-wrap {
    background: $white;
  }
  .DatePicker .date-input-wrap .date-input {
    width: 90px;
  }
  .w170 {
    width: 170px;
  }
  .info-left {
    width: 550px;
  }
  .info-right {
    width: 220px;
  }
  .editor {
    width: 100%;
    height: 500px;
    border: 1px solid $grayD;
    padding: 8px;
    font-size: 16px;
  }
  .add-container {
    padding: 10px 0;
    border-bottom: 1px solid $grayD;
    text-align: center;
    .add-btn {
      cursor: pointer;
    }
  }
}

.FundingRepay {
  a {
    color: $gray3;
    cursor: pointer;
  }
  .input-area {
    vertical-align: top;
    .FormItem {
      .subtitle {
        display: block;
        margin-bottom: 5px;
      }
    }
    .people-limit {
      position: relative;
      .desc {
        position: absolute;
        top: 0;
        right: -53px;
      }
    }
    .repay-detail {
      .subtitle {
        display: inline-block;
        width: 60px;
      }
      .desc {
        float: none;
        color: $gray7;
      }
      .repay-textarea {
        display: block;
        width: 550px;
        height: 163px;
      }
    }
  }
}

