@charset "UTF-8";
@import "../../assets/sass/function";

.CascadeSelect {
  .select-wrap {
    display: inline-block;
    .select-input-box {
      position: relative;
      display: inline-block;
      .select-input {
        cursor: pointer;
        text-align: center;
        &.error-input {
          border: 2px solid red;
        }
      }
      .triangle {
        position: absolute;
        top: 10px;
        right: 5px;
        @extend %triangle-bottom;
      }
      .select-content {
        position: absolute;
        z-index: 10000;
        width: 100%;
        max-height: 200px;
        overflow-y: scroll;
        border: 1px solid $grayE;
        background-color: $white;
        .select-item {
          padding: 0 10px;
          cursor: pointer;
        }
        .active,
        .select-item:hover {
          background-color: $blue;
          color: $white;
        }
      }
    }
  }
}