@charset "UTF-8";
@import "../../assets/sass/function";

.Collapse {
  @extend %container;
  .panel {
    @extend %mb10;
    background-color: #fff;
    border: 1px solid transparent;
    .panel-heading {
      @extend %container;
      .panel-title {
        display: block;
        @extend %f14;
        color: inherit;
        @include props-dpr(padding-top padding-bottom, 6px 6px);
      }
    }
    .panel-body {
      @extend %container2;
      border-top: 1px solid transparent;
    }

    .collapse {
      display: none;
    }

    .collapse.in {
      display: block;
    }
  }

  //皮肤
  .panel-default {
    border-color: #ddd;
    .panel-heading {
      color: #333;
      background-color: #f5f5f5;

    }
    .panel-body {
      border-color: #ddd;
    }
  }

  .panel-success {
    border-color: #d6e9c6;
    .panel-heading {
      color: #3c763d;
      background-color: #dff0d8;
      border-color: #d6e9c6;
    }
    .panel-body {
      border-color: #d6e9c6;
    }
  }

  .panel-primary {
    border-color: #337ab7;
    .panel-heading {
      color: #fff;
      background-color: #337ab7;
      border-color: #337ab7;
    }
    .panel-body {
      border-top-color: #337ab7;
    }
  }
}

