@charset "UTF-8";
@import '../../../assets/sass/function';

.NotFound {
  //position: relative;
  width: 100%;
  height: 100%;
  background-color: #daecee;
  .not-found {
    position: absolute;
    width: 100%;
    height: 100%;
    .not-found-img {
      position: absolute;
      @extend %center-translate;
      border-radius: 100%;
    }
  }
}