@charset "UTF-8";
@import "../../../assets/sass/function";

$blueLight: #1c6fa8;
.Pagination {
  .rows-set {
    float: left;
    @include props-dpr(line-height, 36px);
    .select {
      height: 34px;
      border: 1px solid #ccc;
      cursor: pointer;
      min-width: 60px;
      line-height: 30px !important;
      font-size: 13px !important;
      padding: 0px 0px 0px 10px;
      option {
        padding: 3px 0px 3px 12px;
        line-height: 28px;
        font-size: 13px;
        background-color: #f8f8f8;
      }
    }
  }
  @include props-dpr(margin-top margin-bottom margin-left margin-right, $baseMargin $baseMargin $baseMargin/2 $baseMargin/2);
  text-align: center;
  li {
    @include props-dpr(margin-left margin-right, 3px 3px);
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: #668bba;
    text-align: center;
    background-color: $grayE;
    &:hover {
      color: $white;
      background-color: $blueLight;
    }
  }

  .flag-button, .flag-button-on {
    @include props-dpr(padding-top padding-bottom padding-left padding-right, 7px 7px 12px 12px);
    border: 1px solid $grayE;
  }
  .flag-button-on {
    color: $white;
    border-color: $blueLight;
    background-color: $blueLight;
  }
  .prev-button, .next-button {
    @include props-dpr(padding-top padding-bottom padding-left padding-right, 7px 7px 12px 12px);
    border: 1px solid $grayE;
  }
  .prev-button.disabled, .next-button.disabled {
    @extend %disabled;
  }
  .page-dot {
    @include props-dpr(line-height, 36px);
    color: $blueLight;
    background-color: $white;
    &:hover {
      cursor: default;
      color: $blueLight;
      background-color: $white;
    }
  }
}