@charset "UTF-8";
@import "../../assets/sass/function";

$headerHeightInner: $headerHeight - 5px;

.PageHeader {
  min-width: 1000px;
  @extend %fixed-top;
  @extend %clearfix;
  height: $headerHeight;
  border-bottom: 5px solid #00AEE8;
  background-color: #1c6fa8;
  color: $white;
  z-index: $zIndexHeader;
  .logo {
    display: block;
    float: left;
    width: $sidebarWidth;
    height: $headerHeightInner;
    text-indent: -999em;
    background: url(../../assets/images/logo.png) no-repeat 20px 10px;
  }
  .menu {
    float: left;
    ul {
      padding-left: 0;
      list-style: none;
    }
  }
  .name {
    float: right;
    padding: 17px 20px 18px 20px;
    border-right: 1px solid #0083AE;
  }
  .fast-menu {
    float: right;
  }
}

.FastMenu {
  position: relative;
  .title {
    display: block;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
    padding: 15px 20px 15px 20px;
    cursor: pointer;
  }
  .cont {
    display: none;
    position: absolute;
    text-align: center;
    top: 50px;
    right: 5px;
    width: 324px;
    border: 1px solid $grayC;
    background-color: $white;
    color: $colorText;
    .icon-caret {
      position: absolute;
      right: 14px;
      top: -10px;
      width: 20px;
      height: 10px;
      overflow: hidden;
      em, i {
        display: block;
        position: absolute;
        left: 0;
      }
      em {
        @include triangle(top, 10px, $grayC);
      }
      i {
        position: absolute;
        top: 1px;
        @include triangle(top, 10px, $white);
      }
    }
    h5 {
      border-bottom: 1px solid #eee;
      padding: 10px 0px;
    }
    .list {
      @extend %clearfix;
      padding: 20px;
      a {
        display: block;
        float: left;
        width: 94px;
        height: 94px;
        padding: 15px 0;
        border: 1px solid transparent;
        img {
          width: 40px;
          height: 40px;
        }
        span {
          display: block;
          margin-top: 5px;
        }
        &:hover {
          border-color: $grayC;
          background-color: #f5f5f5;
          color: $colorText;
        }
      }
    }
    .logout {
      display: block;
      background-color: #f8f8f8;
      padding: 10px;
    }
  }
  &:hover .cont {
    display: block;
  }
}