@charset "UTF-8";
@import "../../../assets/sass/function";
.RegisterPage {
  padding-top:50px;
  font-family: $fontFamily;
  .RegisterForm {
    @extend %center-block;
    width: 550px;
    background-color: $white;
    padding: $basePadding*4 $basePadding*4 $basePadding*5 $basePadding*4;
    box-sizing: content-box;
    h2 {
      @extend %f24;
      margin: 0;
      padding: $basePadding $basePadding $basePadding*3 0;
      color: $gray7;
    } 
    .input-box {
      margin-bottom: $baseMargin/2;
      label {
        @extend %f16;
        float: none;
        padding: $basePadding 0 $basePadding 0;
        font-weight: normal;
      }
      input {
        @extend %f16;
        @extend %container2;
        float: none;
        border: 1px solid $grayD;
      }
      .error-msg {
        @extend %f16;
        float: none;
        height: 30px;
        line-height: 30px;
        padding: 0;
        color: $red;
      }
    }
    button {
      margin-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .register-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99999;
    background-color: $grayF;
  }
}