@charset "UTF-8";
@import "../../../../../../../../../assets/sass/function";

.InformationRank {
  .filter-area {
    padding: 20px 100px 0 50px;
    .choose-time {
      margin: 10px 0;
      line-height: 20px;
      font-size: 16px;
      color: $red;
      font-weight: bold;
    }
    .choose-time-form {
      .subtitle {
        display: inline-block;
        padding-right: 10px;

      }
      .datePicker-item {
        margin-bottom: 10px;
        .DatePicker {
          display: inline-block;
        }
      }
    }
    .tab-wrap {
      margin-top: 10px;
      line-height: 36px;
      .tab-box {
        display: inline-block;
        .tab {
          display: inline-block;
          padding-left: 20px;
          cursor: pointer;
        }
        .active {
          color: orangered;
        }
      }
    }
  }
  .chart {
    width: 400px;
    height: 300px;
    margin-top: 20px;
  }
  .table-wrap {
    .Table {
      thead {
        tr {
          th {
            background-color: #d7d7d7;
            border: none;
          }
        }

      }
      tbody {
        tr:nth-of-type(-n+5) {
          background-color: #f0f0f0;
          td:nth-child(1) {
            color: $red;
          }
        }
        tr:nth-of-type(n+6) {
          background-color: $white;
        }
        td {
          text-align: center;
          border: none;
        }
        td:nth-of-type(2) {
          text-align: left;
          border: none;
        }
      }
    }
  }
}




        