@charset "UTF-8";
@import "../../../../../../../../../assets/sass/function";

.BookSearch {
  padding: 100px 20px 0 20px;
  .Table {
    img {
      height: 50px;
    }
    .BookSearchOperation {
      .operation-btn {
        background: #f5f5f5;
        color: $gray5;
        @extend %f12;
        padding: 0 12px;
        line-height: 24px;
        border-radius: 15px;
        border: 1px solid $grayD;
        margin: 0 5px;
        overflow: hidden;
        cursor: pointer;
      }
      .operation-btn:hover {
        background: #00aee8;
        color: $white;
        border: 1px solid #00aee8;
      }
    }
    .BookSearchTableTitleContent {
      .book-title {
        padding-bottom: 10px;
      }
      .valid-time, .create-time {
        color: $gray9;
      }
    }
  }
  .Modal {
    .ShowPage {
      .BookInfo {
        .modify-top-info {
          padding: 10px 0 20px 0;
          border-bottom: 1px solid $grayD;
          .book-cover {
            padding-left: 10px;
            .book-img {
              height: 90px;
            }
          }
          .book-main-info {
            padding-left: 60px;
            .book-title {
              font-size: 16px;
            }
            .book-price, .bool-update {
              font-size: 13px;
            }
          }
          .book-top-list {
            padding-top: 20px;
            border-right: 1px solid $grayD;
            .book-top-item {
              border-left: 1px solid $grayD;
              width: 125px;
              text-align: center;
              font-size: 13px;
              .num, .item-text {
                padding: 5px;
              }
            }
          }
        }
      }
      .book-tab-box {
        padding: 20px 0 0 50px;
        border-bottom: 1px solid $grayD;
        position: relative;
        .book-item {
          cursor: pointer;
          color: $gray5;
          font-size: 14px;
          padding: 5px 15px;
          margin-right: 2px;
          background-color: #f8f8f8;
          border-left: 1px solid $grayD;
          border-top: 1px solid $grayD;
          border-right: 1px solid $grayD;
          margin-bottom: -1px;
        }
        .over {
          background-color: $white;
          border-bottom: 1px solid $white;
        }
      }
    }
  }
  .form-title {
    padding: 5px 0;
  }
  .red {
    color: $red;
  }
  .input {
    color: $gray6;
    margin: 5px 0;
  }
  .info-input {
    border: 1px solid $grayD;
    font-size: 16px;
    padding: 8px;
    height: 36px;
  }
  .order-font {
    padding: 0 10px;
  }
  .w300 {
    width: 300px;
  }
  .w200 {
    width: 200px;
  }
  .w500 {
    width: 500px;
  }
  .w100 {
    width: 100px;
  }
  .w120 {
    width: 120px;
  }
  .w150 {
    width: 150px;
  }
  .w350 {
    width: 350px;
  }
  .w450 {
    width: 450px;
  }
  .w700 {
    width: 700px;
  }
  .book-submit-btn {
    background-color: #1c6fa8;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    width: 90px;
    text-align: center;
    border-radius: 5px;
    border: 0;
  }
  .validity-center-text {
    padding: 0 10px;
  }
  .interval-margin {
    margin: 0 5px;
  }
}




        