@charset "utf-8";
@import "../../../assets/sass/function";

.QRcode {
  padding: 20px;
  .main-content {
    @extend %clearfix;
    .item {
      width: 180px;
      margin: 5px;
      border: 1px solid $grayD;
      .pic {
        padding: 10px;
        img {
          width: 150px;
          height:150px;
        }
      }
      .title {
        border-top: 1px dashed $grayD;
        text-align: center;
        font-size: 16px;
        height: 36px;
        line-height: 36px;
      }
    }
  }
}

