@charset "UTF-8";
@import "../../../../../../../../../assets/sass/function";

.Invoice {
  .invoice-table {
    padding: 20px;
  }
  .InvoiceAdd {
    padding: 20px 40px;
    .error-detail {
      display: block;
      margin-top: 5px;
      font-size: 12px;
      color: red;
    }
  }
}

.cursor {
  cursor: pointer;
}