@charset "UTF-8";
@import "../../../assets/sass/function";

.RightAsideDetail {
  position: fixed;
  top: 92px;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  width: 400px;
  border-left: 1px solid $grayD;
  background-color: #f5f5f5;
  .content {
    padding: 25px;
    .img-wrap {
      .img {
        width: 100%;
      }
    }
    .name {
      text-align: center;
    }
  }
}