@charset "UTF-8";
@import "../../assets/sass/function";

%panel-item {
  display: block;
  width: 23%;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 1%;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

%panel-item:hover {
  background-color: $grayE;
}

.no-allow:hover {
  cursor: not-allowed;
}

.DatePicker {
  table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0
  }
  td, th {
    text-align: center;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
  }
  thead tr:first-child th,
  tfoot tr:first-child th {
    cursor: pointer;
  }
  thead tr:first-child th:hover,
  tfoot tr:first-child th:hover,
  .today:hover,
  .done:hover {
    background: #eee;
  }

  .date-input-wrap {
    position: relative;
    display: inline-block;
    border: 1px solid #ddd;
    white-space: nowrap;
    font-size: 16px;
    line-height: 30px;
    background-color: $grayE;
    border-radius: 3px;
    .date-input {
      position: relative;
      width: 206px;
      padding: 0 5px;
      font-size: 16px;
      line-height: 30px;
      border: none;
      outline: none;
      background-color: transparent;
      vertical-align: top;
    }
    .date-input:focus {
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px rgba(82, 168, 236, 0.6);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px rgba(82, 168, 236, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px rgba(82, 168, 236, 0.6)
    }
    .ic {
      display: inline-block;
      width: 30px;
      border-left: 1px solid #ddd;
      line-height: 30px;
      text-align: center;
      cursor: pointer;
    }

    .DatePicker-days {
      top: 35px;
      right: 0;
      padding: 4px;
      margin-top: 1px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      direction: ltr;
      color: $gray3;
      font-size: 14px;
      font-weight: lighter;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      .table-condensed {
        th {
          font-weight: 900;
        }
        th, td {
          width: 20px;
          height: 20px;
          padding: 0 7px
        }

        thead {
          .prev, .next {
            width: 30px;
            height: 30px;
            border: none;
          }
          .next {

          }
          .month-wrap {
            width: 60px;
            .month {
              margin-left: 5px;
            }
          }
          .year-wrap {
            width: 90px;
            .year {
              margin-right: 5px;
            }
          }

          .week {
            font-size: 12px;
          }
        }
        tbody {
          td {
            cursor: pointer;
            font-weight: lighter;
          }
          td:hover {
            background-color: $grayE;
          }
          .day {
            color: #aaa;
          }
          .live {
            color: $gray3;
          }
          .today {
            outline: 1px solid $grayC;
          }
          .active {
            background-color: #006dcc;
            background-image: -moz-linear-gradient(#59b9c6, #008899);
            background-image: -ms-linear-gradient(#59b9c6, #008899);
            background-image: -webkit-linear-gradient(#59b9c6, #008899);
            background-image: -o-linear-gradient(#59b9c6, #15669E);
            background-image: linear-gradient(#38AAF8, #15669E);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#59b9c6', endColorstr='#008899', GradientType=0);
            border-color: #008899 #008899 #002a80;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
            filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
            color: $white;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
          }
          .month-panel {
            &:hover {
              background-color: transparent;
            }
            .month-item {
              @extend %panel-item;
            }
          }
          .year-panel {
            @extend .month-panel;
            .year-item {
              @extend %panel-item;
            }
            .year-item:first-child,
            .year-item:last-child {
              color: $gray9;
            }

          }
        }
        tfoot {
          .time-wrap {
            display: inline-block;
            width: 33%;
            border-top: 1px dashed $grayE;
            white-space: nowrap;
            .time-select {
              display: inline-block;
              padding: 3px 5px;
              border: 1px solid $grayE;
            }
            span {
              font-size: 12px;
            }
          }
          .today,
          .done {
            cursor: pointer;
          }
        }
      }
    }
  }
  .date-menu {
    position: absolute;
    top: 100%;
    z-index: 1000;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box
  }

  .datePicker-dropdown:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -7px;
    left: 6px;
  }

  .datePicker-dropdown:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    position: absolute;
    top: -6px;
    left: 7px;
  }

  .datePicker-dropdown-left:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -7px;
    right: 6px;
  }

  .datePicker-dropdown-left:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    position: absolute;
    top: -6px;
    right: 7px;
  }
}

