@charset "UTF-8";
@import "../../../../../../../../../assets/sass/function";

.AuthorSearch {
  .content-wrap {
    padding: 20px;
    .user-name {
      cursor: pointer;
    }
  }
  .related-wechat-wrap {
    text-align: center;
  }
  .create-author-wrap {
    padding: 20px 50px;
    .subtitle {
      display: block;
      line-height: 30px;
      margin: 0;
    }
  }
}