@charset "UTF-8";
@import "../../../../assets/sass/function";

.SystemTemplet {
  width: 100%;
  height: 100%;
  background-color: #424a58;
  .tab-box {
    padding: 15px 5%;
    margin-bottom: 20px;
    .tab-item {
      color: $white;
      display: inline-block;
      margin-right: 20px;
      cursor: pointer;
      &.active {
        border-bottom: 2px solid $white;
      }
      &:hover {
        transform: scale(1.1, 1.1);
      }
    }
  }
}