@charset "UTF-8";
@import "../../../../../../../../../assets/sass/function";

.UserSearch {
  padding-bottom: 60px;
  .content-wrap {
    padding: 20px;
    .user-name {
      cursor: pointer;
    }
  }
}