@charset "UTF-8";
@import "../../../../../../../../../assets/sass/function";

.AuthorSort {
  .header {
    padding: 15px 20px;
    border-bottom: 1px solid $grayD;
    .search-btn, .create-btn {
      line-height: 16px;
    }
  }
  .content-wrap {
    padding: 20px;
  }
  .create-classify-wrap {
    padding: 20px 50px;
    .subtitle {
      display: block;
      line-height: 30px;
    }
  }
}