@charset "UTF-8";
@import "../../../../../../../../../assets/sass/function";

.AuthorSort {
  .content-wrap {
    padding: 20px;
  }
  .create-classify-wrap {
    padding: 20px 50px;
    .subtitle {
      display: block;
      line-height: 30px;
    }
    .desc {
      resize: vertical;
    }
  }
}