@charset "UTF-8";
@import "../../assets/sass/function";

.BookSearch {
  .Table {
    img {
      height: 50px;
    }
    .Modify {
      background: #f5f5f5;
      color: $gray5;
      @extend %f12;
      padding: 0 12px;
      line-height: 24px;
      border-radius: 15px;
      border: 1px solid $grayD;
    }
    .Modify:hover {
      background: #00aee8;
      color: $white;
      border: 1px solid #00aee8;
    }
  }
  .Modal {
    .ShowPage {
      .BookInfo {
        .modify-top-info {
          padding: 10px 0 20px 0;
          border-bottom: 1px solid $grayD;
          .book-cover {
            padding-left: 10px;
            .book-img {
              height: 90px;
            }
          }
          .book-main-info {
            padding-left: 60px;
            .book-title {
              font-size: 16px;
            }
            .book-price, .bool-update {
              font-size: 13px;
            }
          }
          .book-top-list {
            padding-top: 20px;
            border-right: 1px solid $grayD;
            .book-top-item {
              border-left: 1px solid $grayD;
              width: 125px;
              text-align: center;
              font-size: 13px;
              .num, .item-text {
                padding: 5px;
              }
            }
          }
        }
      }
      .book-tab-box {
        padding: 20px 0 0 50px;
        border-bottom: 1px solid $grayD;
        .book-item {
          color: $gray5;
          font-size: 14px;
          padding: 5px 15px;
          margin-right: 2px;
          background-color: #f8f8f8;
          border: 1px solid $grayD;
        }
        .over {
          background-color: $white;
          border-bottom: 1px solid $white;
        }
      }
      .BookForm {
        padding: 35px 50px 20px 50px;
        .label-span {
          font-size: 13px;
          padding: 5px 0;
        }
        .form-title {
          padding: 5px 0;
        }
        .red {
          color: $red;
        }
        .input {
          color: $gray6;
        }
        .info-input {
          border: 1px solid $grayD;
          font-size: 16px;
          padding: 8px;
          height: 36px;
        }
        .link-error {
          display: block;
        }
        .w300 {
          width: 300px;
        }
        .w200 {
          width: 200px;
        }
        .w500 {
          width: 500px;
        }
        .w120 {
          width: 120px;
        }
        .w150 {
          width: 150px;
        }
        .w350 {
          width: 350px;
        }
        .w700 {
          width: 700px;
        }
        .book-pic-box {
          border: 1px solid $grayD;
          width: 280px;
          .book-pic {
            margin: 5px;
          }
          .book-img {
            width: 270px;
            height: 390px;
          }
          .upload-again {
            padding: 5px;
            border-top: 1px solid $grayD;
            line-height: 20px;
            text-align: center;
            color: $gray3;
            font-size: 13px;
          }
        }
        .book-main-right {
          position: relative;
          margin-left: 25px;
          font-size: 13px;
          .clear-classify {
            padding: 0 10px;
          }
          .form-two-item {
            width: 250px;
          }
        }
        .InputTree {
          font-size: 13px;
          .tree-component {
            top: 56px;
          }
        }
        .Tree {
          margin-top: 0;
          border: 1px solid $grayD;
          width: 300px;
          z-index: 10000;
          background-color: $white;
          padding: 10px;
        }
      }
      .form-list {
        .form-item {
          padding-top: 20px;
          font-size: 13px;
          .physical-item-width {
            width: 20%;
          }
          .info-title {
            font-weight: bold;
            padding-bottom: 5px;
            border-bottom: 1px solid $grayD;
          }
          .response-cover {
            width: 310px;
            height: 180px;
            border: 1px dashed $grayD;
            margin-top: 10px;
          }
          .sales-info {
            padding-top: 10px;
            .validity {
              .DatePicker {
                display: inline-block;
                background-color: $white;
                .date-input-wrap {
                  background-color: $white;
                }
                .ic {
                  text-align: center;
                }
              }
              .validity-center-text {
                padding: 0 10px;
              }
            }
          }
          .virtual-book-info {
            .virtual-item-width {
              width: 30%;
            }
            .eBook {
              .eBook-box {
                display: inline-block;
                margin-right: 5px;
              }
            }
            .tryRead {
              .tryRead-box {
                display: inline-block;
                margin-right: 5px;
              }
            }
          }
          .introduction-input {
            width: 100%;
            rows: 3;
            padding: 8px;
            font-size: 16px;
            border: 1px solid $grayD;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
