@charset "UTF-8";
@import "../../../assets/sass/function";

.AssignMoney {
  .assign-layer {
    .real-modal {
      z-index: 12000;
    }
    .ShowPage {
      z-index: 12001;
    }
  }
  .add-user-area {
    margin: 20px 0 10px 20px;
    .add-user-btn {
      color: $gray3;
      font-size: 14px;
      width: 90px;
    }
  }
  .TablePage {
    margin: 0 20px;
    padding: 0px;
    .Table {
      img {
        height: 50px;
      }
      .product-desc, .product-sales {
        font-size: 12px;
        color: $gray6;
      }
      .ProductSearchOperation {
        .operation-btn {
          background: #f5f5f5;
          color: $gray5;
          @extend %f12;
          padding: 0 12px;
          line-height: 24px;
          border-radius: 15px;
          border: 1px solid $grayD;
          margin: 0 5px;
          overflow: hidden;
          cursor: pointer;
        }
        .operation-btn:hover {
          background: #00aee8;
          color: $white;
          border: 1px solid #00aee8;
        }
      }
      .ProductSearchTableTitleContent {
        .product-title {
          padding-bottom: 10px;
        }
        .valid-time, .create-time {
          color: $gray9;
        }
      }
    }
  }
  .ProductOperation {
    .modify, .delete {
      cursor: pointer;
    }
  }

  .AssignMoneyModal {
    padding: 20px;
    .tag-info-title {
      margin: 5px 0;
      display: block;
    }
    .subtitle {
      display: block;
    }
    .validity-center-text {
      padding: 5px 10px;
    }
    .form-title {
      margin-top: 10px;
      div {
        margin-top: 5px;
      }
      span {
        padding: 0 5px;
      }
      .DatePicker {
        display: inline-block;
        background-color: $white;
        .date-input-wrap {
          background-color: $white;
        }
        .ic {
          text-align: center;
        }
      }
    }
  }
}