@charset 'utf-8';
@import "../../../../../../../assets/sass/function";

.SystemAccount {
  font-size: 13px;
  .user-info {
    margin: 20px 50px;
    border: 1px dotted $gray9;
    background-color: #FFFAEA;
    padding: 20px;
    .attention {
      color: $gray7;
      padding: 10px 0 5px;
    }
  }
  .mes-group {
    margin: 0 50px 10px;
  }
  .require {
    &:before {
      content: "*";
      color: $red;
      margin-right: 5px;
    }
  }
}