@charset "UTF-8";

@import '../../assets/sass/function';
@import '../../assets/sass/iconfont';
@import '../../assets/sass/common';

.Manage {
  .PageMain {
    position: absolute;
    left: $sidebarWidth;
    right: 0;
    top: $headerHeight;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $white;
  }
}