@charset "UTF-8";
@import "../../../assets/sass/function";

$silver: #7da0b4;
.CheckBox {
  margin: auto;
  .checkbox-label {
    position: relative;
    background-color: $white;
    border: 1px solid #aaa;
    @include props-dpr(width height border-radius margin-bottom, 16px 16px 4px 0);
  }
  label {
    cursor: pointer;
  }
  input[type=checkbox] {
    display: none;
  }
  .checkbox-symbol:before {
    @extend %center-translate-y;
    visibility: hidden;
    @include props-dpr(font-size, 20px);
    font-weight: normal;
    content: '\2714';
    color: $silver;
  }
  &.checked .checkbox-symbol:before {
    visibility: visible;
  }
}