@charset "UTF-8";
@import "../../../assets/sass/function";

$silver: #7da0b4;
.Table {
  width: 100%;
  @include props-dpr(font-size, 14px);
  thead tr {
    background: url("../../../assets/images/v2_rays/epmp_bg.png") repeat-x;
    @include props-dpr(height border-width background-size background-position-x background-position-y, 35px 1px 1752px 0 -1305px);
  }
  th {
    position: relative;
    border: solid #cfd6db;
    text-align: center;
    vertical-align: middle;
    @include props-dpr(border-width, 1px);
    .script {
      position: absolute;
      border: solid $silver;
      @include props-dpr(width height margin-left border-width, 0 0 3px 5px);
      visibility: hidden;
      cursor: pointer;
    }
    .superscript {
      border-left: solid transparent;
      border-right: solid transparent;
      @include props-dpr(top border-left-width border-right-width, 9px 5px 5px);
      border-top: none;
    }
    .subscript {
      border-left: solid transparent;
      border-right: solid transparent;
      @include props-dpr(bottom border-left-width border-right-width, 11px 5px 5px);
      border-bottom: none;
    }
    &:hover .script {
      visibility: visible;
    }
  }
  tbody {
    tr:nth-of-type(2n) {
      background-color: $grayF;
    }
    tr:nth-of-type(2n-1) {
      background-color: $white;
    }
    tr td:last-child {
      position: relative;
      .ic-close {
        @extend %center-translate-y;
        display: inline-block;
        @include props-dpr(width height, 14px 14px);
        right: 10px;
        cursor: pointer;
        visibility: hidden;
      }
    }
    tr:hover {
      background-color: #fffce4;
      td:last-child .ic-close {
        visibility: visible;
      }
    }
  }
  td {
    border: solid #cfd6db;
    @include props-dpr(padding border-width, 5px 1px);
  }
  .edit-input {
    border: none;
    width: 100%;
    padding: 5px;
    background-color: transparent;
  }
}