@charset "UTF-8";
@import "../../../../../../../../../assets/sass/function";

.LabelSearch {
  .label-search {
    position: relative;
    .label-cont {
      padding: 20px;
      .radio-box {
        margin-bottom: 20px;
        padding: 0 10px;
      }
      .Tag {
        padding: 0;
        .add-tag-box {
          margin-top: 15px;
          border-top: 1px solid $grayD;
          text-align: left;
        }
      }
    }
    .label-fix {
      position: fixed;
      width: 100%;
      bottom: 0;
      padding: 10px 0;
      background-color: $colorBgLight;
      border-top: 1px solid $grayD;
      text-align: center;
    }
  }
  .label-result {
    .user-list {
      @extend %group-grid-7;
      padding: 0 20px;
      ul {
        li {
          text-align: center;
          .inner {
            border: 1px solid $grayD;
          }
          .pic {
            width: 90px;
            height: 90px;
            margin-top: 10px;
            margin-bottom: 10px;
            cursor: pointer;
          }
          .text {
            padding: 5px 0;
            background-color: $colorBgLight;
            .name {
              @extend %ellipsis;
            }
            .city {
              font-size: 12px;
              color: #777;
              line-height: 1.5;
            }
          }
        }
      }
      .none-result {
        padding: 50px 0;
        text-align: center;
      }
    }
  }
}