@charset "UTF-8";
@import "../../../../../assets/sass/function";

.WordsComponent {
  margin-bottom: 2px;
  p {
    margin: 0;
    border: 1px dashed $white;
    &:hover {
      border-color: $blueLight;
    }
    &:focus {
      outline: 2px solid $gray3;
      border-color: $white;
    }
  }

}
