@charset "UTF-8";
@import "../../assets/sass/function";

.PageSidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: $headerHeight;
  background-color: #f0f0f0;

  z-index: $zIndexSidebar;
  .sidebarOne, .sidebarTwo {
    float: left;
    width: $sidebarWidth;
    height: 100%;
    border-right: 1px solid $grayD;
  }
  .sidebarOne {
    overflow-y: auto;
    overflow-x: hidden;
    .item {
      margin-bottom:1px;
      h5 {
        a {
          display: block;
          position: relative;
          background-color: #e1e4e4;
          color: $gray3;
          padding: 10px 30px;
          &.cur {
            background-color: #d1d4d4;
          }
          .ic {
            position: absolute;
            right: 0;
            top: 50%;
            width: 30px;
            @extend %f12;
            margin-top: -6px;
          }
        }
      }
      ul {
        padding: 6px 0;
        li {
          a {
            display: block;
            padding: 6px 30px;
            font-size: 13px;
            &:hover, &.cur {
              color: $white;
              background-color: $blueLight;
            }
          }
        }
      }
    }
  }
  .sidebarTwo {
    display: block;
    background-color: #f8f8f8;
    font-size: 13px;
    h5 {
      border-bottom: 1px solid $grayD;
      padding: 10px 20px;
    }
    ul {
      margin-top: 5px;
      li {
        a {
          display: block;
          padding: 6px 20px;
          &.cur {
            position: relative;
            width: $sidebarWidth;
            background-color: $white;
            border-top: 1px solid $grayE;
            border-bottom: 1px solid $grayE;
            z-index: 100000;
          }
          &:hover {
            color: #f1454e;
            text-decoration: underline;
          }
        }
      }
    }
  }
}