@charset "UTF-8";
@import "../../../assets/sass/function";

.HeaderInfo {
  padding: 10px 0 20px 0;
  border-bottom: 1px solid $grayD;
  min-width: 1200px;
  @extend %clearfix;
  .img-wrap {
    padding-left: 10px;
    .img {
      height: 90px;
    }
  }
  .info {
    margin-top: 20px;
  }
  .main-info {
    padding-left: 60px;
    width: 40%;
    h4 {
      float: left;
      width: 100%;
      margin: 2px;
    }
    .left-item {
      font-size: 12px;
    }
    .info-name-name {
      font-size: 16px;
    }
    .info-name-desc {
      display: none;
    }
    .info-price-name, .info-update-name {
      font-size: 13px;
    }
    .info-price-desc, .info-update-desc {
      margin-right: 10px;
    }
  }
  .top-list {
    padding-top: 20px;
    border-right: 1px solid $grayD;
    .top-item {
      border-left: 1px solid $grayD;
      width: 125px;
      text-align: center;
      font-size: 13px;
      .num, .item-text {
        padding: 5px;
      }
    }
  }
}
