@charset "UTF-8";
@import "../../assets/sass/function";

//Format
html, body {
  height: 100%;
}

body {
  font-family: Arial, 'Microsoft YaHei';
}

a {
  color: $colorText;
}

a:hover, a:focus {
  text-decoration: none;
}

i {
  font-style: normal;
}

label, dt {
  font-weight: normal;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: inherit;
}

h1 {
  @extend %f30;
}

h2 {
  @extend %f24;
}

h3 {
  @extend %f18;
}

h4 {
  @extend %f16;
}

h5 {
  @extend %f14;
}

h6 {
  @extend %f12;
}

textarea {
  resize: none;
}

p {
  margin: 0;
}

//Btn
.btn-pill {
  border-radius: 200px;
}

.btn-primary {
  background-color: $blue;
  border-color: $blue;
  &:hover, &:focus, &:active {
    background-color: $blueLight !important;
    border-color: $blueLight !important;;
  }
}

.btn-lg {
  padding: 8px 16px;
  font-size: 14px;
  line-height: 22px;
}

.btn-operate {
  margin: 5px;
  padding: 3px 15px;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  color: #555;
  font-size: 12px;
  line-height: 18px;
  border-radius: 12px;
  &:hover {
    background-color: $blue;
    border-color: $blue;
    color: #fff;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

//form
.form-control {
  width: 300px;
  border-radius: 0;
  border: 1px solid $grayD;
  box-shadow: none;
  color: #555;
}

textarea.form-control {
  width: 500px;
  height: auto;
}

select.form-control {
  width: auto;
}
.form-control[readonly]{
  background-color: $white;
}
.form-group-sm {
  .form-control {
    border-radius: 0;
  }
}

.form-group-lg {
  .form-control {
    height: 40px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 22px;
    border-radius: 0;
  }
  select.form-control {
    height: 40px;
    line-height: 40px
  }
  select[multiple].form-control, textarea.form-control {
    height: auto
  }
  .form-control-static {
    min-height: 40px;
    padding-top: 10px;
  }
}

.form-horizontal {
  .form-group {
    margin-left: 0;
    margin-right: 0;
  }
  .control-label {
    float: left;
    width: 80px;
    padding-top: 10px;
    font-weight: normal;
    text-align: left;
  }
  .control-body {
    margin-left: 80px;
  }
  .form-group-lg {
    .control-label {
      padding-top: 10px;
      font-size: 14px;
    }
  }
}

.form-horizontal-lg {
  .control-label {
    width: 130px;
  }
  .control-body {
    margin-left: 130px;
  }
}

//width
.w60 {
  width: 60px;
}

.w80 {
  width: 80px;
}

.w100 {
  width: 100px;
}

.w120 {
  width: 120px;
}

.w140 {
  width: 140px;
}

.w160 {
  width: 160px;
}

.w180 {
  width: 180px;
}

.w190 {
  width: 190px;
}

.w200 {
  width: 200px;
}

.w240 {
  width: 240px;
}

.w300 {
  width: 300px;
}

.w400 {
  width: 400px;
}

.w500 {
  width: 500px;
}

.w100per {
  width: 100% !important;
}

//Margin
.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.ml10 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

.ml30 {
  margin-left: 30px;
}

//tab
.tab-nav {
  @extend %clearfix;
  height: 52px;
  padding-top: 20px;
  padding-left: 50px;
  border-bottom: 1px solid $grayD;
  li {
    float: left;
    cursor: pointer;
    margin-right: 2px;
    padding: 5px 15px;
    border: 1px solid $grayD;
    background-color: $colorBgLight;
    color: #555;
    font-size: 14px;
    text-decoration: none;
    &:hover {
      background-color: $white;
    }
    &.active {
      background-color: $white;
      border-bottom-color: $white;
    }
  }
}

//common header
.common-hd {
  @extend %clearfix;
  .info {
    float: right;
    li {
      float: left;
      width: 120px;
      height: 60px;
      margin-left: -1px;
      border-left: 1px solid $grayD;
      border-right: 1px solid $grayD;
      text-align: center;
      line-height: 30px;
    }
  }
}

.InputTree {
  position: relative;
  .tree-component {
    position: absolute;
    top: 58px;
    left: 0;
    width: 200px;
    padding: 10px 0;
    z-index: 10001;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  .label-tree {
    height: auto !important;
    margin-bottom: 5px;
    padding: 0 !important;;
  }
  .clear-tree {
    margin-left: 5px;
  }
  .input {
    height: 34px;
    padding: 6px 12px;
    line-height: 20px;
    font-size: 14px;
    border: 1px solid $grayD;
    background-color: $white;
    width: auto;
  }
}

.form-group-sm {
  .InputTree {
    .input, .tree-input {
      height: 30px;
      padding: 5px 10px;
      font-size: 12px;
      line-height: 1.5;
    }
  }
}

.form-inline {
  .form-group-sm {
    .tree-component {
      top: 29px;
    }
  }
}

.InputF {
  .label-span {
    height: auto !important;
    margin-bottom: 5px;
    padding: 0 !important;;
  }
  .input {
    @extend .form-control;
    width: auto;
    border: 1px solid $grayD;
  }
}

.required::before {
  content: "*";
  display: inline-block;
  color: red;
}

#App {
  height: 100%;
}


