@charset "UTF-8";
@import "../../assets/sass/function";

//Format
html, body {
  height: 100%;
}

body {
  font-family: Arial, 'Microsoft YaHei';
}

a {
  color: $colorText;
}

a:hover, a:focus {
  text-decoration: none;
}

i {
  font-style: normal;
}

label {
  font-weight: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  @extend %f30;
}

h2 {
  @extend %f24;
}

h3 {
  @extend %f18;
}

h4 {
  @extend %f16;
}

h5 {
  @extend %f14;
}

h6 {
  @extend %f12;
}

textarea {
  resize: none;
}

/* Btn */
.btn-pill {
  border-radius: 200px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.form-control {
  display: inline-block;
  border-radius: 0;
  border-color: $grayD;
  box-shadow: none;
  &:focus {
    box-shadow: none;
  }
}

.w60 {
  width: 60px !important;
}

.w80 {
  width: 80px !important;
}

.w100 {
  width: 100px !important;
}

.w120 {
  width: 120px !important;
}

.w140 {
  width: 140px !important;
}

.w160 {
  width: 160px !important;
}

.w180 {
  width: 180px !important;
}

.w200 {
  width: 200px !important;
}

.w400 {
  width: 400px !important;
}

.w500 {
  width: 500px !important;
}
