@font-face {
  font-family: "iconfont";
  src: url('../../assets/fonts/iconfont.eot?t=1461051739'); /* IE9*/
  src: url('../../assets/fonts/iconfont.eot?t=1461051739#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../assets/fonts/iconfont.woff?t=1461051739') format('woff'), /* chrome, firefox */ url('../../assets/fonts/iconfont.ttf?t=1461051739') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../../assets/fonts/iconfont.svg?t=1461051739#iconfont') format('svg'); /* iOS 4.1- */
}

.ic {
  display: inline-block;
  font-family: "iconfont" !important;
  font-size: 100%;
  line-height: 1;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}


.ic-check:before { content: "\e600"; }
.ic-close:before { content: "\e601"; }
.ic-roundcheckfill:before { content: "\e603"; }
.ic-roundcheck:before { content: "\e604"; }
.ic-roundclosefill:before { content: "\e605"; }
.ic-roundclose:before { content: "\e606"; }
.ic-unfold:before { content: "\e607"; }
.ic-questionfill:before { content: "\e608"; }
.ic-question:before { content: "\e609"; }
.ic-delete:before { content: "\e60a"; }
.ic-roundadd:before { content: "\e60b"; }
.ic-locationfill:before { content: "\e60c"; }
.ic-fold:before { content: "\e60d"; }
.ic-infofill:before { content: "\e60e"; }
.ic-info:before { content: "\e60f"; }
.ic-favorfill:before { content: "\e610"; }
.ic-favor:before { content: "\e611"; }
.ic-focus:before { content: "\e612"; }
.ic-aligncenter:before { content: "\e634"; }
.ic-alignjustify:before { content: "\e635"; }
.ic-alignleft:before { content: "\e636"; }
.ic-alignright:before { content: "\e637"; }
.ic-back:before { content: "\e613"; }
.ic-right:before { content: "\e614"; }
.ic-attentionfill:before { content: "\e615"; }
.ic-attention:before { content: "\e616"; }
.ic-location:before { content: "\e617"; }
.ic-likefill:before { content: "\e618"; }
.ic-like:before { content: "\e619"; }
.ic-list:before { content: "\e61a"; }
.ic-tagfill:before { content: "\e61b"; }
.ic-tag:before { content: "\e61c"; }
.ic-add:before { content: "\e61d"; }
.ic-move:before { content: "\e61e"; }
.ic-openinnewwindow:before { content: "\e602"; }
.ic-calendar:before { content: "\e61f"; }
.ic-loading:before { content: "\e620"; }
.ic-upload:before { content: "\e621"; }
.ic-doc:before { content: "\e633"; }
.ic-folderempty:before { content: "\e629"; }
.ic-folderopenempty:before { content: "\e62a"; }
.ic-folder:before { content: "\e632"; }
.ic-caretdown:before { content: "\e622"; }
.ic-gallery:before { content: "\e639"; }
.ic-radio:before { content: "\e623"; }
.ic-radiochecked:before { content: "\e624"; }
.ic-template:before { content: "\e63a"; }
.ic-roundright:before { content: "\e625"; }
.ic-download:before { content: "\e626"; }
.ic-search:before { content: "\e627"; }
.ic-cart:before { content: "\e628"; }
.ic-back2:before { content: "\e62b"; }
.ic-comment:before { content: "\e62c"; }
.ic-catalog:before { content: "\e62d"; }
.ic-edit:before { content: "\e62e"; }
.ic-topic:before { content: "\e62f"; }
.ic-view:before { content: "\e630"; }
.ic-right2:before { content: "\e631"; }
